
#ranger {
    color: white;
}

#sliideri .slider {
    width: 40em;
}

#animate {
    text-align: right;
}

#animate button {
    width: 10em;
}

#legend {
    width: 15em;
    background-color: white;
    padding: 0.3em 0.5em;
}

#legend .color {
    margin: 0.5em 0.3em;
    display: block;
    color: black;
    font-size: 90%;
    padding: 0.3em;
}

#legend .color .label {
    width: 10em;
    height: 2.5em;
    padding: 2em;
    margin: -1.5em;
    background: white;
    display: inline-block;
}

#suomi100logo {
    width: 150px;
    height: auto;
}
