
#ranger {
    color: white;
}

#sliideri .slider {
    width: 40em;
}

#animate {
    text-align: right;
}

#animate button {
    width: 10em;
}

#legend {
    width: 15em;
    background-color: white;
    padding: 0.3em 0.5em;
}

#legend span {
    margin: 0.5em 0.3em;
    display: block;
    padding: 0.5em;
    color: white;
    font-size: 90%;
}
